/* Emoticonos del panel desplegable */

/* 1. Emoticonos y Personas */
.emojik.a1 {
    background: url('../assets/Emoticonos/1. Emoticonos y Personas/f9625a59e46bd5c96ee3b2b72984f076_w_1857-64.png');
    background-size: cover;
}

.emojik.a2 {
    background: url('../assets/Emoticonos/1. Emoticonos y Personas/f9625a59e46bd5c96ee3b2b72984f076_w_1860-64.png');
    background-size: cover;
}

.emojik.a3 {
    background: url('../assets/Emoticonos/1. Emoticonos y Personas/f9625a59e46bd5c96ee3b2b72984f076_w_1861-64.png');
    background-size: cover;
}

.emojik.a4 {
    background: url('../assets/Emoticonos/1. Emoticonos y Personas/f9625a59e46bd5c96ee3b2b72984f076_w_1858-64.png');
    background-size: cover;
}

.emojik.a5 {
    background: url('../assets/Emoticonos/1. Emoticonos y Personas/f9625a59e46bd5c96ee3b2b72984f076_w_1863-64.png');
    background-size: cover;
}

.emojik.a6 {
    background: url('../assets/Emoticonos/1. Emoticonos y Personas/f9625a59e46bd5c96ee3b2b72984f076_w_1862-64.png');
    background-size: cover;
}

.emojik.a7 {
    background: url('../assets/Emoticonos/1. Emoticonos y Personas/f9625a59e46bd5c96ee3b2b72984f076_w_1859-64.png');
    background-size: cover;
}

.emojik.a8 {
    background: url('../assets/Emoticonos/1. Emoticonos y Personas/f9625a59e46bd5c96ee3b2b72984f076_w_2247-64.png');
    background-size: cover;
}

.emojik.a9 {
    background: url('../assets/Emoticonos/1. Emoticonos y Personas/f9625a59e46bd5c96ee3b2b72984f076_w_79-64.png.png');
    background-size: cover;
}

.emojik.a10 {
    background: url('../assets/Emoticonos/1. Emoticonos y Personas/f9625a59e46bd5c96ee3b2b72984f076_w_1867-64.png');
    background-size: cover;
}
/****/
.emojik.a11 {
    background: url('../assets/Emoticonos/1. Emoticonos y Personas/f9625a59e46bd5c96ee3b2b72984f076_w_1860-64.png');
    background-size: cover;
}

.emojik.a12 {
    background: url('../assets/Emoticonos/1. Emoticonos y Personas/f9625a59e46bd5c96ee3b2b72984f076_w_1860-64.png');
    background-size: cover;
}

.emojik.a13 {
    background: url('../assets/Emoticonos/1. Emoticonos y Personas/f9625a59e46bd5c96ee3b2b72984f076_w_1860-64.png');
    background-size: cover;
}

